/* color pallete 
 primary #122B4A
 secondary #FAFAFA
 tertiary #34904C
 accent #15415E
 bg #EEF2F5
 inner effect 090E22
 */

 :root {
    --primary : #122b4a;
    --secondary : #fafafa;
    --tertiary : #15415e;
    --accent : #34904c;
    --bg : #eef2f5;
    --shadow : #090e22;
 }

 * {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   transition: 0.5s;
   scroll-behavior: smooth;
  }
 
 body{
   margin: 0;
   background-image: url('Advice\ to\ New\ Grads.jpg');
   background-size:100vw;
   filter: blur(10px);
}

 header{
   width: 100vw;
   height: 10vh;
   border: 1px solid #090e22;
   flex-direction:row;
   display: flex;
   justify-content: space-between;
   align-items: center; 
 }

 #logo {
   flex-direction: row;
   display: flex;
   font-size: 2vw;
   margin: 1vw;
   color: var(--primary);
   cursor: pointer;
  }

 #logo i {
   margin: 2px;
   font-size: 3vw;
 }

 #logo div{
   display: flex;
   flex-direction: column;
   font-weight: 600;
   margin: -3px 5px;
 }

 #logo div span{
   font-weight: 100; 
   font-size: 1.5vw;
   margin: -5px 0px;
 }

 nav {
   font-size: 1.5vw;
   text-decoration: none;
   padding-right: 5vw;
   flex-direction: row;
   display: flex;
   gap: 1.5vw;
   height:100%;
   align-items: center;
 }

 nav a{
   background-color: var(--bg);
   border-radius: 20px;
   padding:8px 20px;
   font-size: 1.3vw;
   }

 #navbar {
   color: var(--primary);
   text-decoration: none;
   border: 1px solid transparent;
 }

 #navbar:hover{
  color: var(--bg);
  background-color: transparent;
  border: 1px solid var(--bg);
  transition: 0.2s;
 }

