/* color pallete 
 primary #122B4A
 secondary #FAFAFA
 tertiary #34904C
 accent #15415E
 bg #EEF2F5
 inner effect 090E22
 */

 :root {
    --primary : #122b4a;
    --secondary : #fafafa;
    --tertiary : #15415e;
    --accent : #34904c;
    --bg : #eef2f5;
    --shadow : #090e22;
 }

 * {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 header{
   width: 100vw;
   height: 8vh;
   background-color: red;
   border: 1px solid #090e22;
   flex-direction:row;
   display: flex;
   justify-content: space-between;
   align-items: center; 
 }


 body{
   margin: 0;
 }